*.elf
*.i64
*.id0
*.id1
*.id2
*.idb
*.nso
*.pfs0
*.nacp
*.nam
*.nro
*.o
*.txt
*.til
*.pchtxt
*.ips
.vscode/
build*/
debug/
release/
lib/
linkerscripts/symstemp.ld
starlight_patch*/
scripts/.idea/*
!exported.txt
compile_commands.json
.cache/
build100.sh
keys.dat
.exefs100/
.exefs130/
build130.sh